@model IndexModel
<nav>
    <div class="header">
        <h2 class="logo"><a href="@Url.Action("Index","Home")" style="color: inherit; font-size:26px;">Healthcare System</a></h2>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fas fa-ellipsis-h"></i>
        </label>

        <div class="menu">
            <a href="@Url.Action("Index","Home")">Home</a>
            @if (Model.Role.HasValue)
            {
                <a href="#">Works</a>
            }
            else
            {
                <a href="@Url.Action("About", "Home")">About</a>
                <a href="#">Contact</a>
            }
            <a href="@Url.Action("Index","Account")">Account</a>

            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
            </label>

        </div>
    </div>
</nav>
