
<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <script src="script.js"></script>
    @Styles.Render("~/Content/custom/home.css")
    @Styles.Render("~/Content/custom/profile.css")
</head>
<body>
    @Html.Partial("~/Views/Shared/_NavigationBar.cshtml")
    <div class="container">
        <div class="row">
            <h2>Your Profile</h2>


            <div class="col-md-7 ">

                <div class="panel-panel-default">
                    <div class="panel-heading">
                        <h4>User Profile</h4>
                        <li>
                            <a data-profile-action="edit" ; href="#">Edit</a>
                        </li>
                    </div>
                    <div class="panel-body">

                        <div class="box box-info">

                            <div class="box-body">
                                <div class="col-sm-6">
                                    <div>
                                        <img alt="User Pic" src="E:\web development\nav bar/2.jpg" id="profile-image1" class="img-circle img-responsive">

                                        <input id="profile-image-upload" class="hidden" type="file">
                                        <!-- <div style="color:#999;" >click here to change profile image</div> -->
                                        <!--Upload Image Js And Css-->
                                    </div>
                                    <br>
                                    <!-- /input-group -->
                                </div>
                                <div class="col-sm-6">
                                    <h4 style="color:#00b1b1;">Dang Long </h4></span>
                                    <span><p>Developer</p></span>
                                </div>
                                <div class="clearfix"></div>
                                <hr style="margin:5px 0 5px 0;">


                                <div class="col-sm-5 col-xs-6 title ">First Name:</div><div class="col-sm-7 col-xs-6 ">Dang</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 title ">Middle Name:</div><div class="col-sm-7"> Long</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 title ">Last Name:</div><div class="col-sm-7"> Long</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 title ">UserName:</div><div class="col-sm-7"> khech45</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 title ">Password:</div><div class="col-sm-7"> ****</div>
                                <div class="clearfix"></div>
                                <div class="bot-border"></div>



                                <div class="col-sm-5 col-xs-6 title ">Date Of Birth:</div><div class="col-sm-7">19 May 1997</div>

                                <div class="clearfix"></div>
                                <div class="bot-border"></div>


                                <div class="col-sm-5 col-xs-6 title ">Email:</div><div class="col-sm-7">sample@sample.com</div>


                                <div class="clearfix"></div>
                                <div class="bot-border"></div>
                                <div class="col-sm-5 col-xs-6 title ">Billing Address:</div><div class="col-sm-7">516 Formal street Troy AL</div>


                                <div class="clearfix"></div>
                                <div class="bot-border"></div>

                                <div class="col-sm-5 col-xs-6 title ">Gender:</div><div class="col-sm-7">Male</div>




                            </div>


                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->

                </div>


            </div>
        </div>
    </div>





</body>
</html>