<a href="https://www.youtube.com/"><img style="width:40%; height: 100%; margin-left: 6%;" src="~/Content/image/list.jpg"></a>
<a href="https://www.youtube.com/"><img style="width:40%; height: 100%; margin-left: 6%;" src="~/Content/image/viewrecords.png"></a>