<a href="@Url.Action("InputMedicalRecord","Staff")"><img style="width:40%; height: 100%; margin-left: 6%;" src="~/Content/image/input.jpg"></a>
<a href="@Url.Action("PatientMedicalRecord","Staff")"><img style="width:40%; height: 100%; margin-left: 6%;" src="~/Content/image/viewrecords.png"></a>
