<a href="@Url.Action("SearchPatient","Staff", new { actionType = "input" })"><img style="width:40%; height: 100%; margin-left: 6%;" src="~/Content/image/input.jpg"></a>
<a href="@Url.Action("SearchPatient","Staff", new { actionType = "view" })"><img style="width:40%; height: 100%; margin-left: 6%;" src="~/Content/image/viewrecords.png"></a>
