<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="logo.png">
    <title>Healthcare System</title>
    <!-- Temp Title -->
    <link rel="stylesheet" href="css.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body style="background: white;">

    <nav>
        <div class="header">
            <h2 class="logo">Healthcare System</h2>
            <!-- Temp Header? -->
            <input type="checkbox" id="chk">
            <label for="chk" class="show-menu-btn">
                <i class="fas fa-ellipsis-h"></i>
            </label>

            <ul class="menu">

                <a href="@Url.Action("Index","Home")">Home</a>
                <a href="@Url.Action("About","Home")>About</a>
                <a href="#>Services</a>
                <a href="#">Contact</a>
                <a href="#">Account</a>


                <label for="chk" class="hide-menu-btn">
                    <i class="fas fa-times"></i>
                </label>

            </ul>


            <!-- <form action="">
              <input type="search">
              <i class="fa fa-search"></i>
            </form> -->

        </div>
    </nav>

    <div style="overflow: auto; width: 65%; height: 50%; float: right; margin-right: 20%;">
        <img id="rightLogo" src="logo.png">
        <h1 style="float: right;">Welcome (Patient Name)</h1>
    </div>

    <!-- <figure class="half" style="display:flex; float: left; "> -->
    <a href="https://www.youtube.com/"><img style="width:40%; height: 100%; margin-left: 6%;" src="appointment.jpg"></a>
    <a href="https://www.youtube.com/"><img style="width:40%; height: 100%; margin-left: 6%;" src="list.jpg"></a>
    <!-- </figure> -->

    <br><br>
    <a href="https://www.youtube.com/"><img style="width:40%; height: 100%; margin-left: 6%;" src="profile.jpg"></a>
    <a href="https://www.youtube.com/"><img style="width:40%; height: 100%; margin-left: 6%;" src="history.png"></a>

</body>
</html>