<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <style>
        body {
            margin: 0;
        }

        #nav-bar-container {
            width: 100%;
            height: 50px;
            background-color: #87b6eb;
        }
    </style>
</head>
<body>
    <div id="nav-bar-container">
        Navigation bar goes here
    </div>
</body>
</html>