@model List<AppointmentModel>

    <tr>
        <td>@Model.First().Time.ToShortTimeString()</td>
        <td>
            <select class="doctor-selector">
                @foreach (var appointment in Model)
                {
                    <option value="@appointment.DoctorId">@appointment.DoctorName</option>
                }
            </select>
        </td>
        <td><a href="#" class="myButton">Book</a></td>
    </tr>
