<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="logo.png">
    <title>Patient Medical Record</title>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @Styles.Render("~/Content/custom/medical-record.css")
    @Styles.Render("~/Content/custom/home.css")
</head>
<body style="background: white;">
    @{Html.RenderAction("NavigationBar", "Home");}

    <div style="clear: both;">
        <h1>Find Medical Record</h1>
    </div>
    <div class="">
    <input />
    </div>
</body>
</html>